
<header class="main-header">
    <!-- Logo -->
    <a href="http://localhost" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="http://localhost/public/img/akaunting-logo-white.png" class="logo-image-mini" width="25" alt="Akaunting Logo"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="http://localhost/public/img/akaunting-logo-white.png" class="logo-image-lg" width="25" alt="Akaunting Logo"> <b>Akaunting</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <ul class="add-new nav navbar-nav pull-left">
            <!-- Notifications: style can be found in dropdown.less -->
            <li class="dropdown add-new-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-plus"></i>
                </a>
                <div class="dropdown-menu">
                    <ul class="list-inline">
                        <li>
                            <ul class="list-unstyled">
                                <li class="header"><i class="fa fa-money"></i> &nbsp;<span style="font-weight: 600;">Gelir</span></li>
                                <li>
                                    <ul class="menu">
                                        <li><a href="http://localhost/incomes/invoices/create">Fatura</a></li>
                                        <li><a href="http://localhost/incomes/revenues/create">Tahsilat</a></li>
                                        <li><a href="http://localhost/incomes/customers/create">Müşteri</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="list-unstyled">
                                <li class="header"><i class="fa fa-shopping-cart"></i> &nbsp;<span style="font-weight: 600;">Gider</span></li>
                                <li>
                                    <ul class="menu">
                                        <li><a href="http://localhost/expenses/bills/create">Fatura</a></li>
                                        <li><a href="http://localhost/expenses/payments/create">Ödeme</a></li>
                                        <li><a href="http://localhost/expenses/vendors/create">Tedarikçi</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="list-unstyled">
                                <li class="header"><i class="fa fa-university"></i> &nbsp;<span style="font-weight: 600;">Banka</span></li>
                                <li>
                                    <ul class="menu">
                                        <li><a href="http://localhost/banking/accounts/create">Hesap</a></li>
                                        <li><a href="http://localhost/banking/transfers/create">Transfer</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Bildirim yok</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu"></ul>
                        </li>
                        <li class="footer"><a href="#">Tümünü Görüntüle</a></li>
                    </ul>
                </li>
                <!-- Tasks: style can be found in dropdown.less -->
                <li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Dil Değiştir</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li class="">
                                    <a href="http://localhost/languages/en-GB/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/gb.png" alt="English (GB)" width="22px" /> &nbsp; English (GB)
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/ar-SA/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/sa.png" alt="العربية" width="22px" /> &nbsp; العربية
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/bg-BG/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/bg.png" alt="български" width="22px" /> &nbsp; български
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/cs-CZ/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/cz.png" alt="Čeština" width="22px" /> &nbsp; Čeština
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/da-DK/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/dk.png" alt="Dansk" width="22px" /> &nbsp; Dansk
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/de-DE/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/de.png" alt="Deutsch" width="22px" /> &nbsp; Deutsch
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/el-GR/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/gr.png" alt="Ελληνικά" width="22px" /> &nbsp; Ελληνικά
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/es-ES/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/es.png" alt="Español" width="22px" /> &nbsp; Español
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/es-MX/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/mx.png" alt="Español de México" width="22px" /> &nbsp; Español de México
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/fa-IR/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/ir.png" alt="فارسی" width="22px" /> &nbsp; فارسی
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/fr-FR/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/fr.png" alt="Français" width="22px" /> &nbsp; Français
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/he-IL/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/il.png" alt="עִבְרִית" width="22px" /> &nbsp; עִבְרִית
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/hr-HR/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/hr.png" alt="Hrvatski" width="22px" /> &nbsp; Hrvatski
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/id-ID/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/id.png" alt="Bahasa Indonesia" width="22px" /> &nbsp; Bahasa Indonesia
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/it-IT/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/it.png" alt="Italiano" width="22px" /> &nbsp; Italiano
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/nb-NO/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/no.png" alt="Norsk Bokmål" width="22px" /> &nbsp; Norsk Bokmål
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/nl-NL/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/nl.png" alt="Nederlands" width="22px" /> &nbsp; Nederlands
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/pt-BR/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/br.png" alt="Português do Brasil" width="22px" /> &nbsp; Português do Brasil
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/pt-PT/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/pt.png" alt="Português" width="22px" /> &nbsp; Português
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/ro-RO/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/ro.png" alt="Română" width="22px" /> &nbsp; Română
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/ru-RU/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/ru.png" alt="Русский" width="22px" /> &nbsp; Русский
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/sq-AL/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/al.png" alt="Shqip" width="22px" /> &nbsp; Shqip
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/sv-SE/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/se.png" alt="Svenska" width="22px" /> &nbsp; Svenska
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/th-TH/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/th.png" alt="ไทย" width="22px" /> &nbsp; ไทย
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/tr-TR/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/tr.png" alt="Türkçe" width="22px" /> &nbsp; Türkçe
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/uk-UA/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/ua.png" alt="Українська" width="22px" /> &nbsp; Українська
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/vi-VN/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/vn.png" alt="Tiếng Việt" width="22px" /> &nbsp; Tiếng Việt
                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://localhost/languages/zh-TW/back">
                                        <img src="http://localhost/vendor/akaunting/language/src/Resources/assets/img/flags/tw.png" alt="繁體中文" width="22px" /> &nbsp; 繁體中文
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- Updates: style can be found in dropdown.less -->
                <li>
                    <a href="http://localhost/install/updates" data-toggle="tooltip" data-placement="bottom" title="0 Updates Available">
                        <i class="fa fa-refresh"></i>
                    </a>
                </li>
                <!-- Updates: style can be found in dropdown.less -->
                <li class="hidden-xs">
                    <a href="https://akaunting.com/docs" target="_blank" title="Yardım">
                        <i class="fa fa-life-ring"></i>
                    </a>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user-o"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <i class="fa fa-4 fa-user-o" style="color: #fff; font-size: 7em;"></i>
                            <p>
                                <small>Son giriş 3 dakika önce</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="http://localhost/auth/users">Kullanıcılar</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="http://localhost/auth/roles">Görevler</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="http://localhost/auth/permissions">İzinler</a>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="http://localhost/auth/users/1/edit" class="btn btn-default btn-flat">Profil</a>
                            </div>
                            <div class="pull-right">
                                <a href="http://localhost/auth/logout" class="btn btn-default btn-flat">Çıkış</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>