<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -</title>


    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/css/AdminLTE.min.css">
    <!-- AdminLTE Skins -->
    <link rel="stylesheet" href="~/Content/css/skin-green-light.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/css/select2.min.css">
    <!-- App style -->


    <link rel="stylesheet" href="~/Content/css/app.css?v=1.2.12">


    <link rel="stylesheet" href="~/Content/css/akaunting-green.css?v=1.2">

    <link rel="shortcut icon" href="~/Content/img/favicon.ico">

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery 2.2.3 -->
    <script src="~/Content/js/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Content/js/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/js/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/js/app.min.js"></script>

    <!-- Select2 -->
    <script src="~/Content/js/select2.min.js"></script>

    <script src="~/Content/js/app.js?v=1.0"></script>

    <script type="text/javascript">
<!--
        var url_search = 'http://localhost/common/search/search';
        //--></script>

</head>
<body>

    <body class="hold-transition skin-green-light sidebar-mini fixed">
        <!-- Site wrapper -->
        <div class="wrapper">
            @Html.Partial("_Header")
            @Html.Partial("_Sidebar")



            @RenderBody()


            <script type="text/javascript">
                $('div.alert').not('.alert-important').delay(3000).fadeOut(350);
            </script>

        </div>
    </body>



</body>
</html>