<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="http://localhost/public/img/company.png" class="img-circle" alt="Pranomi">
            </div>
            <div class="pull-left info">
                <p>Pranomi</p>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span> &nbsp;Değiştir</a>
                <ul class="dropdown-menu">
                    <li><a href="http://localhost/common/companies/1/set">Pranomi</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="http://localhost/common/companies">Şirketleri Yönet</a></li>
                </ul>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" id="form-search" class="sidebar-form">
            <div id="search" class="input-group">
                <input type="text" name="search" value="" id="input-search" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->

        <ul class="sidebar-menu tree" data-widget="tree">
            <li><a href="http://localhost"><i class="fa fa-dashboard"></i> <span>Kontrol Paneli</span></a></li>
            <li class="active"><a href="http://localhost/common/items"><i class="fa fa-cubes"></i> <span>Ürünler / Hizmetler</span></a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-money"></i> <span>Gelirler</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="http://localhost/incomes/invoices"><i class="fa fa-angle-double-right"></i> <span>Faturalar</span></a></li>
                    <li><a href="http://localhost/incomes/revenues"><i class="fa fa-angle-double-right"></i> <span>Tahsilatlar</span></a></li>
                    <li><a href="http://localhost/incomes/customers"><i class="fa fa-angle-double-right"></i> <span>Müşteriler</span></a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-cart"></i> <span>Giderler</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="http://localhost/expenses/bills"><i class="fa fa-angle-double-right"></i> <span>Faturalar</span></a></li>
                    <li><a href="http://localhost/expenses/payments"><i class="fa fa-angle-double-right"></i> <span>Ödemeler</span></a></li>
                    <li><a href="http://localhost/expenses/vendors"><i class="fa fa-angle-double-right"></i> <span>Tedarikçiler</span></a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-university"></i> <span>Banka</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="http://localhost/banking/accounts"><i class="fa fa-angle-double-right"></i> <span>Hesaplar</span></a></li>
                    <li><a href="http://localhost/banking/transfers"><i class="fa fa-angle-double-right"></i> <span>Transferler</span></a></li>
                    <li><a href="http://localhost/banking/transactions"><i class="fa fa-angle-double-right"></i> <span>İşlemler</span></a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-bar-chart"></i> <span>Raporlar</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="http://localhost/reports/income-summary"><i class="fa fa-angle-double-right"></i> <span>Gelir Özeti</span></a></li>
                    <li><a href="http://localhost/reports/expense-summary"><i class="fa fa-angle-double-right"></i> <span>Gider Özeti</span></a></li>
                    <li><a href="http://localhost/reports/income-expense-summary"><i class="fa fa-angle-double-right"></i> <span>Gelir Gider Dengesi</span></a></li>
                    <li><a href="http://localhost/reports/tax-summary"><i class="fa fa-angle-double-right"></i> <span>Vergi Özeti</span></a></li>
                    <li><a href="http://localhost/reports/profit-loss"><i class="fa fa-angle-double-right"></i> <span>Kar ve Zarar</span></a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-gears"></i> <span>Ayarlar</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="http://localhost/settings/settings"><i class="fa fa-angle-double-right"></i> <span>Genel</span></a></li>
                    <li><a href="http://localhost/settings/categories"><i class="fa fa-angle-double-right"></i> <span>Kategoriler</span></a></li>
                    <li><a href="http://localhost/settings/currencies"><i class="fa fa-angle-double-right"></i> <span>Para Birimleri</span></a></li>
                    <li><a href="http://localhost/settings/taxes"><i class="fa fa-angle-double-right"></i> <span>Vergi Oranları</span></a></li>
                    <li><a href="http://localhost/apps/offlinepayment/settings"><i class="fa fa-angle-double-right"></i> <span>Offline Payments</span></a></li>
                    <li><a href="http://localhost/settings/apps/paypalstandard"><i class="fa fa-angle-double-right"></i> <span>Paypal Standard</span></a></li>

                </ul>
            </li>
            <li><a href="http://localhost/apps/home"><i class="fa fa-rocket"></i> <span>Uygulamalar</span></a></li>

        </ul>

    </section>
    <!-- /.sidebar -->
</aside>